
.main{
    background-color: #4d4d4d;
   margin:auto;
  width: 363px;
  padding: 20px;

}
.answer{
    background: white;
    width: 330px;
    height: 30px;
    padding-left:26px;
    padding-right: 10px;;
    font-weight: 600;
    font-size:larger;
    text-align: right;
  
}
.buttons {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;

 
  grid-row-gap: 20px;
  padding: 10px;
}
.btn {
  background-color: rgba(236, 230, 230, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.operator{
  background-color: rgba(236, 230, 230, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;

}

.extra{
  display: grid;
  grid-template-columns:auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 10px;
  height: 130px;
  
  
}
.result_op{
  background-color: rgba(236, 230, 230, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
